* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: 'Comic Neue', cursive;
}

body {
  margin: 0 auto;
  background-color: wheat;
  color: black;
}

hr {
  color: black;
  margin: 0;
  padding: 0;
}

.main {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  text-align: center;
}

#add-book-form {
  width: 100%;
}

.bookList {
  border: 3px solid black;
  width: 100%;
}

.book {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 20px;
}

form {
  text-align: center;
}

button {
  background-color: goldenrod;
  width: 100px;
}

input {
  width: 80%;
}
